<section id="section2"  class=" bg-stone-100 shrink-0 px-5 py-20">
    <div id="footer" class=" reveal flex flex-row justify-evenly font-Satoshi font-semibold text-xs">
        <div>
            <ul>
                <li class=" text-sm  font-bold">SOCIAL</li>
                <li>INSTAGRAM</li>
                <li>TWITTER</li>
                <li>FACEBOOK</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class=" text-sm font-bold">SHOWCASE</li>
                <li>INSTAGRAM</li>
                <li>TWITTER</li>
                <li>FACEBOOK</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class=" text-sm font-bold">TERMS</li>
                <li>LICENSCE</li>
            </ul>
        </div>
    </div>
    <div id="creatortag" class=" reveal mt-8 font-Satoshi font-semibold text-sm text-center" data-test="footer-text">&copy;<script type="text/javascript">
        document.write(new Date().getFullYear()); </script> Made with 💙 by Klevert
    </div>
</section>