<section id="section2" class="bg-stone-100 h-screen">
  <div
    id="footer"
    class="grid gap-5 grid-cols-1 md:grid-cols-3 font-Satoshi font-semibold text-3xl lg:text-5xl xl:text-6xl pt-20 text-center"
  >
    <div>
      <ul>
        <li class="text-sm font-extrabold">SOCIAL</li>
        <li>INSTAGRAM</li>
        <li>TWITTER</li>
        <li>FACEBOOK</li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="text-sm font-extrabold">SHOWCASE</li>
        <li>AVA MAX</li>
        <li>DANCER JANE</li>
        <li>DJ JOHN</li>
        <li>DUA LIPA</li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="text-sm font-extrabold">TERMS</li>
        <li>LICENSE</li>
      </ul>
    </div>
  </div>
  <div
    id="creatortag"
    class="reveal mt-20 font-Satoshi font-extrabold text-sm text-center"
    data-test="footer-text"
  >
    &copy;<script type="text/javascript">
      document.write(new Date().getFullYear());
    </script> Made with 💙 by Klevert
  </div>
</section>
