<section id="footer" class="bg-stone-100 h-screen hidden">
  <div class="relative flex justify-center items-center h-full">
    <div
      id="socials"
      class="grid gap-5 grid-cols-1 md:grid-cols-3 font-Satoshi font-semibold text-center mb-5"
    >
      <ul>
        <li class="text-sm font-extrabold">SOCIAL</li>
        <li>INSTAGRAM</li>
        <li>TWITTER</li>
        <li>FACEBOOK</li>
      </ul>

      <ul>
        <li class="text-sm font-extrabold">SHOWCASE</li>
        <li>AVA MAX</li>
        <li>DANCER JANE</li>
        <li>DJ JOHN</li>
        <li>DUA LIPA</li>
      </ul>

      <ul>
        <li class="text-sm font-extrabold">TERMS</li>
        <li>LICENSE</li>
      </ul>
    </div>

    <div
      id="creatortag"
      class="font-Satoshi font-extrabold text-sm text-center absolute bottom-2 m-auto pt-10 pb-2"
      data-test="footer-text"
    >
      &copy;<script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> Made with 💙 by Klevert
    </div>
  </div>
</section>

<style>
  #socials {
    font-size: clamp(26px, 5vw, 50px);
  }
</style>
