<div id="introtext" class="mt-40 text-center">
  <h1 class="introtexth1 font-Satoshi font-semibold text-xs text-white">
    Get ready to bop<br />our pop culture coverage is always on top
  </h1>
  <h2
    class="introtexth2 text-4xl max-w-md m-auto font-bold font-ClashDisplay bg-gradient-to-b from-blue-700 to-lime-500 text-transparent bg-clip-text"
  >
    Our magazine is the perfect place to be, for all the latest in pop culture
    and music to see and be seen
  </h2>
</div>
