---
const posts = await Astro.glob("../content/Showcase/*.md");
---

<section id="blogcards" class="py-8 hidden">
  <div
    class="grid gap-2 lg:grid-auto-fit-[600px] md:grid-auto-fit-[300px] max-sm:grid-auto-fit-[140px] blog-cardscale px-2"
  >
    {
      posts.map((post) => (
        <div id="blogcard" class=" blogcardcontent">
          <div class="relative">
            <img src={post.frontmatter.hero} />
            <div class="absolute inset-0 flex flex-col justify-center items-center">
              <h1 class=" font-ClashDisplay font-bold herotext text-white">
                {post.frontmatter.herotext}
              </h1>
              <button
                id="readmore"
                class=" font-Satoshi font-extrabold text-orange-600 slugtext"
              >
                <span>
                  <a href={`/${post.frontmatter.slug}`}>Read More</a>
                </span>
              </button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .herotext {
    font-size: clamp(15px, 8vw, 80px);
  }
  .slugtext {
    font-size: clamp(14px, 3vw, 24px);
  }
</style>
