---
const posts = await Astro.glob("../content/Showcase/*.md");
---

<section class="mt-32">
  <div
    class="grid gap-5 lg:grid-auto-fit-[600px] md:grid-auto-fit-[300px] max-sm:grid-auto-fit-[140px] blog-cardscale opacity-0"
  >
    {
      posts.map((post) => (
        <div id="blogcard" class=" blogcardcontent">
          <div class="relative">
            <img src={post.frontmatter.hero} />
            <div class="absolute inset-0 flex flex-col justify-center items-center">
              <h1 class=" font-ClashDisplay font-bold text-lg text-white">
                {post.frontmatter.herotext}
              </h1>
              <button
                id="readmore"
                class=" font-Satoshi font-extrabold text-orange-600 text-xs"
              >
                <span>
                  <a href={`/${post.frontmatter.slug}`}>Read More</a>
                </span>
              </button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
