---
import Header from "../components/Header.astro";
export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#3B755F">
		<meta name="msapplication-TileColor" content="#3B755F">
		<meta name="theme-color" content="#a3e635">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:global>
			@font-face {
			  font-family: 'Satoshi';
			  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
			}
			@font-face {
			  font-family: 'Array';
			  src: url('/fonts/Array-Semibold.woff2') format('woff2');
			}
			@font-face {
			  font-family: 'ClashDisplay';
			  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
			}
		</style>
	</head>
	<body class=" bg-black/95 mr-1 ml-1 scrollbar-thumb-lime-400 scrollbar scrollbar-track-transparent scrollbar-thumb-rounded-lg scrollbar-w-1">
		<div id="preloader">
  		<div id="preloader-bar"></div>
		</div>
		<div id="content">
		<Header/>
		<slot/>
		</div>
		<script src="/src/js/index.js"></script>
	</body>
</html>
  





  




